--
-- PostgreSQL database dump
--

\restrict 03q7oYx2GBwz27ccGhbmigX9Jkkd1b6FaVybr5FDJATzSMwbEcXciDUVhA3ok2s

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.users_sessions DROP CONSTRAINT IF EXISTS users_sessions_parent_id_fk;
ALTER TABLE IF EXISTS ONLY public.payload_preferences_rels DROP CONSTRAINT IF EXISTS payload_preferences_rels_users_fk;
ALTER TABLE IF EXISTS ONLY public.payload_preferences_rels DROP CONSTRAINT IF EXISTS payload_preferences_rels_parent_fk;
ALTER TABLE IF EXISTS ONLY public.payload_locked_documents_rels DROP CONSTRAINT IF EXISTS payload_locked_documents_rels_users_fk;
ALTER TABLE IF EXISTS ONLY public.payload_locked_documents_rels DROP CONSTRAINT IF EXISTS payload_locked_documents_rels_parent_fk;
ALTER TABLE IF EXISTS ONLY public.payload_locked_documents_rels DROP CONSTRAINT IF EXISTS payload_locked_documents_rels_pages_fk;
ALTER TABLE IF EXISTS ONLY public.payload_locked_documents_rels DROP CONSTRAINT IF EXISTS payload_locked_documents_rels_media_fk;
ALTER TABLE IF EXISTS ONLY public.payload_locked_documents_rels DROP CONSTRAINT IF EXISTS payload_locked_documents_rels_leads_fk;
ALTER TABLE IF EXISTS ONLY public.pages_videos DROP CONSTRAINT IF EXISTS pages_videos_video_file_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages_videos DROP CONSTRAINT IF EXISTS pages_videos_poster_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages_videos DROP CONSTRAINT IF EXISTS pages_videos_parent_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages DROP CONSTRAINT IF EXISTS pages_hero_image_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages_gridcont DROP CONSTRAINT IF EXISTS pages_gridcont_parent_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages DROP CONSTRAINT IF EXISTS pages_file_download_file_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_title DROP CONSTRAINT IF EXISTS pages_blocks_title_parent_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_read_more DROP CONSTRAINT IF EXISTS pages_blocks_read_more_parent_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_paragraph DROP CONSTRAINT IF EXISTS pages_blocks_paragraph_parent_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_image_gallery DROP CONSTRAINT IF EXISTS pages_blocks_image_gallery_parent_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_image_gallery_items DROP CONSTRAINT IF EXISTS pages_blocks_image_gallery_items_parent_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_image_gallery_items DROP CONSTRAINT IF EXISTS pages_blocks_image_gallery_items_image_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_disclaimer DROP CONSTRAINT IF EXISTS pages_blocks_disclaimer_parent_id_fk;
ALTER TABLE IF EXISTS ONLY public.media DROP CONSTRAINT IF EXISTS media_video_poster_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.home DROP CONSTRAINT IF EXISTS home_grid_section_item8_image_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.home DROP CONSTRAINT IF EXISTS home_grid_section_item7_image_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.home DROP CONSTRAINT IF EXISTS home_grid_section_item6_image_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.home DROP CONSTRAINT IF EXISTS home_grid_section_item5_image_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.home DROP CONSTRAINT IF EXISTS home_grid_section_item4_image_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.home DROP CONSTRAINT IF EXISTS home_grid_section_item3_image_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.home DROP CONSTRAINT IF EXISTS home_grid_section_item2_image_id_media_id_fk;
ALTER TABLE IF EXISTS ONLY public.home DROP CONSTRAINT IF EXISTS home_grid_section_item1_image_id_media_id_fk;
DROP INDEX IF EXISTS public.users_updated_at_idx;
DROP INDEX IF EXISTS public.users_sessions_parent_id_idx;
DROP INDEX IF EXISTS public.users_sessions_order_idx;
DROP INDEX IF EXISTS public.users_email_idx;
DROP INDEX IF EXISTS public.users_created_at_idx;
DROP INDEX IF EXISTS public.payload_preferences_updated_at_idx;
DROP INDEX IF EXISTS public.payload_preferences_rels_users_id_idx;
DROP INDEX IF EXISTS public.payload_preferences_rels_path_idx;
DROP INDEX IF EXISTS public.payload_preferences_rels_parent_idx;
DROP INDEX IF EXISTS public.payload_preferences_rels_order_idx;
DROP INDEX IF EXISTS public.payload_preferences_key_idx;
DROP INDEX IF EXISTS public.payload_preferences_created_at_idx;
DROP INDEX IF EXISTS public.payload_migrations_updated_at_idx;
DROP INDEX IF EXISTS public.payload_migrations_created_at_idx;
DROP INDEX IF EXISTS public.payload_locked_documents_updated_at_idx;
DROP INDEX IF EXISTS public.payload_locked_documents_rels_users_id_idx;
DROP INDEX IF EXISTS public.payload_locked_documents_rels_path_idx;
DROP INDEX IF EXISTS public.payload_locked_documents_rels_parent_idx;
DROP INDEX IF EXISTS public.payload_locked_documents_rels_pages_id_idx;
DROP INDEX IF EXISTS public.payload_locked_documents_rels_order_idx;
DROP INDEX IF EXISTS public.payload_locked_documents_rels_media_id_idx;
DROP INDEX IF EXISTS public.payload_locked_documents_rels_leads_id_idx;
DROP INDEX IF EXISTS public.payload_locked_documents_global_slug_idx;
DROP INDEX IF EXISTS public.payload_locked_documents_created_at_idx;
DROP INDEX IF EXISTS public.pages_videos_video_file_idx;
DROP INDEX IF EXISTS public.pages_videos_poster_idx;
DROP INDEX IF EXISTS public.pages_videos_parent_id_idx;
DROP INDEX IF EXISTS public.pages_videos_order_idx;
DROP INDEX IF EXISTS public.pages_updated_at_idx;
DROP INDEX IF EXISTS public.pages_slug_idx;
DROP INDEX IF EXISTS public.pages_hero_image_idx;
DROP INDEX IF EXISTS public.pages_gridcont_parent_id_idx;
DROP INDEX IF EXISTS public.pages_gridcont_order_idx;
DROP INDEX IF EXISTS public.pages_file_download_file_download_file_idx;
DROP INDEX IF EXISTS public.pages_created_at_idx;
DROP INDEX IF EXISTS public.pages_blocks_title_path_idx;
DROP INDEX IF EXISTS public.pages_blocks_title_parent_id_idx;
DROP INDEX IF EXISTS public.pages_blocks_title_order_idx;
DROP INDEX IF EXISTS public.pages_blocks_read_more_path_idx;
DROP INDEX IF EXISTS public.pages_blocks_read_more_parent_id_idx;
DROP INDEX IF EXISTS public.pages_blocks_read_more_order_idx;
DROP INDEX IF EXISTS public.pages_blocks_paragraph_path_idx;
DROP INDEX IF EXISTS public.pages_blocks_paragraph_parent_id_idx;
DROP INDEX IF EXISTS public.pages_blocks_paragraph_order_idx;
DROP INDEX IF EXISTS public.pages_blocks_image_gallery_path_idx;
DROP INDEX IF EXISTS public.pages_blocks_image_gallery_parent_id_idx;
DROP INDEX IF EXISTS public.pages_blocks_image_gallery_order_idx;
DROP INDEX IF EXISTS public.pages_blocks_image_gallery_items_parent_id_idx;
DROP INDEX IF EXISTS public.pages_blocks_image_gallery_items_order_idx;
DROP INDEX IF EXISTS public.pages_blocks_image_gallery_items_image_idx;
DROP INDEX IF EXISTS public.pages_blocks_disclaimer_path_idx;
DROP INDEX IF EXISTS public.pages_blocks_disclaimer_parent_id_idx;
DROP INDEX IF EXISTS public.pages_blocks_disclaimer_order_idx;
DROP INDEX IF EXISTS public.media_video_poster_idx;
DROP INDEX IF EXISTS public.media_updated_at_idx;
DROP INDEX IF EXISTS public.media_filename_idx;
DROP INDEX IF EXISTS public.media_created_at_idx;
DROP INDEX IF EXISTS public.leads_updated_at_idx;
DROP INDEX IF EXISTS public.leads_created_at_idx;
DROP INDEX IF EXISTS public.home_grid_section_item8_grid_section_item8_image_idx;
DROP INDEX IF EXISTS public.home_grid_section_item7_grid_section_item7_image_idx;
DROP INDEX IF EXISTS public.home_grid_section_item6_grid_section_item6_image_idx;
DROP INDEX IF EXISTS public.home_grid_section_item5_grid_section_item5_image_idx;
DROP INDEX IF EXISTS public.home_grid_section_item4_grid_section_item4_image_idx;
DROP INDEX IF EXISTS public.home_grid_section_item3_grid_section_item3_image_idx;
DROP INDEX IF EXISTS public.home_grid_section_item2_grid_section_item2_image_idx;
DROP INDEX IF EXISTS public.home_grid_section_item1_grid_section_item1_image_idx;
ALTER TABLE IF EXISTS ONLY public.users_sessions DROP CONSTRAINT IF EXISTS users_sessions_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.payload_preferences_rels DROP CONSTRAINT IF EXISTS payload_preferences_rels_pkey;
ALTER TABLE IF EXISTS ONLY public.payload_preferences DROP CONSTRAINT IF EXISTS payload_preferences_pkey;
ALTER TABLE IF EXISTS ONLY public.payload_migrations DROP CONSTRAINT IF EXISTS payload_migrations_pkey;
ALTER TABLE IF EXISTS ONLY public.payload_locked_documents_rels DROP CONSTRAINT IF EXISTS payload_locked_documents_rels_pkey;
ALTER TABLE IF EXISTS ONLY public.payload_locked_documents DROP CONSTRAINT IF EXISTS payload_locked_documents_pkey;
ALTER TABLE IF EXISTS ONLY public.pages_videos DROP CONSTRAINT IF EXISTS pages_videos_pkey;
ALTER TABLE IF EXISTS ONLY public.pages DROP CONSTRAINT IF EXISTS pages_pkey;
ALTER TABLE IF EXISTS ONLY public.pages_gridcont DROP CONSTRAINT IF EXISTS pages_gridcont_pkey;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_title DROP CONSTRAINT IF EXISTS pages_blocks_title_pkey;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_read_more DROP CONSTRAINT IF EXISTS pages_blocks_read_more_pkey;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_paragraph DROP CONSTRAINT IF EXISTS pages_blocks_paragraph_pkey;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_image_gallery DROP CONSTRAINT IF EXISTS pages_blocks_image_gallery_pkey;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_image_gallery_items DROP CONSTRAINT IF EXISTS pages_blocks_image_gallery_items_pkey;
ALTER TABLE IF EXISTS ONLY public.pages_blocks_disclaimer DROP CONSTRAINT IF EXISTS pages_blocks_disclaimer_pkey;
ALTER TABLE IF EXISTS ONLY public.media DROP CONSTRAINT IF EXISTS media_pkey;
ALTER TABLE IF EXISTS ONLY public.leads DROP CONSTRAINT IF EXISTS leads_pkey;
ALTER TABLE IF EXISTS ONLY public.home DROP CONSTRAINT IF EXISTS home_pkey;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.payload_preferences_rels ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.payload_preferences ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.payload_migrations ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.payload_locked_documents_rels ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.payload_locked_documents ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.pages ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.media ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.leads ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.home ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.users_sessions;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.payload_preferences_rels_id_seq;
DROP TABLE IF EXISTS public.payload_preferences_rels;
DROP SEQUENCE IF EXISTS public.payload_preferences_id_seq;
DROP TABLE IF EXISTS public.payload_preferences;
DROP SEQUENCE IF EXISTS public.payload_migrations_id_seq;
DROP TABLE IF EXISTS public.payload_migrations;
DROP SEQUENCE IF EXISTS public.payload_locked_documents_rels_id_seq;
DROP TABLE IF EXISTS public.payload_locked_documents_rels;
DROP SEQUENCE IF EXISTS public.payload_locked_documents_id_seq;
DROP TABLE IF EXISTS public.payload_locked_documents;
DROP TABLE IF EXISTS public.pages_videos;
DROP SEQUENCE IF EXISTS public.pages_id_seq;
DROP TABLE IF EXISTS public.pages_gridcont;
DROP TABLE IF EXISTS public.pages_blocks_title;
DROP TABLE IF EXISTS public.pages_blocks_read_more;
DROP TABLE IF EXISTS public.pages_blocks_paragraph;
DROP TABLE IF EXISTS public.pages_blocks_image_gallery_items;
DROP TABLE IF EXISTS public.pages_blocks_image_gallery;
DROP TABLE IF EXISTS public.pages_blocks_disclaimer;
DROP TABLE IF EXISTS public.pages;
DROP SEQUENCE IF EXISTS public.media_id_seq;
DROP TABLE IF EXISTS public.media;
DROP SEQUENCE IF EXISTS public.leads_id_seq;
DROP TABLE IF EXISTS public.leads;
DROP SEQUENCE IF EXISTS public.home_id_seq;
DROP TABLE IF EXISTS public.home;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: home; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.home (
    id integer NOT NULL,
    meta_meta_title character varying,
    meta_meta_description character varying,
    grid_section_item1_title character varying NOT NULL,
    grid_section_item1_image_id integer NOT NULL,
    grid_section_item2_title character varying NOT NULL,
    grid_section_item2_image_id integer NOT NULL,
    grid_section_item3_title character varying NOT NULL,
    grid_section_item3_image_id integer NOT NULL,
    grid_section_item4_title character varying NOT NULL,
    grid_section_item4_image_id integer NOT NULL,
    grid_section_item5_title character varying NOT NULL,
    grid_section_item5_image_id integer NOT NULL,
    grid_section_item6_title character varying NOT NULL,
    grid_section_item6_image_id integer NOT NULL,
    grid_section_item7_title character varying NOT NULL,
    grid_section_item7_image_id integer NOT NULL,
    updated_at timestamp(3) with time zone,
    created_at timestamp(3) with time zone,
    grid_section_item8_title character varying NOT NULL,
    grid_section_item8_image_id integer NOT NULL,
    grid_section_item8_href character varying
);


--
-- Name: home_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.home_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: home_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.home_id_seq OWNED BY public.home.id;


--
-- Name: leads; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.leads (
    id integer NOT NULL,
    full_name character varying NOT NULL,
    email character varying NOT NULL,
    phone character varying,
    message character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


--
-- Name: leads_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.leads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: leads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.leads_id_seq OWNED BY public.leads.id;


--
-- Name: media; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.media (
    id integer NOT NULL,
    alt character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    url character varying,
    thumbnail_u_r_l character varying,
    filename character varying,
    mime_type character varying,
    filesize numeric,
    width numeric,
    height numeric,
    focal_x numeric,
    focal_y numeric,
    video_poster_id integer
);


--
-- Name: media_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.media_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: media_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.media_id_seq OWNED BY public.media.id;


--
-- Name: pages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pages (
    id integer NOT NULL,
    meta_meta_title character varying,
    meta_meta_description character varying,
    main_title character varying,
    slug character varying NOT NULL,
    hero_image_id integer,
    file_download_text character varying,
    file_download_file_id integer,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


--
-- Name: pages_blocks_disclaimer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pages_blocks_disclaimer (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    _path text NOT NULL,
    id character varying NOT NULL,
    text character varying NOT NULL,
    block_name character varying
);


--
-- Name: pages_blocks_image_gallery; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pages_blocks_image_gallery (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    _path text NOT NULL,
    id character varying NOT NULL,
    block_name character varying
);


--
-- Name: pages_blocks_image_gallery_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pages_blocks_image_gallery_items (
    _order integer NOT NULL,
    _parent_id character varying NOT NULL,
    id character varying NOT NULL,
    image_id integer NOT NULL
);


--
-- Name: pages_blocks_paragraph; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pages_blocks_paragraph (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    _path text NOT NULL,
    id character varying NOT NULL,
    paragraph character varying,
    strong boolean DEFAULT false,
    block_name character varying
);


--
-- Name: pages_blocks_read_more; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pages_blocks_read_more (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    _path text NOT NULL,
    id character varying NOT NULL,
    label character varying DEFAULT 'Read more'::character varying,
    block_name character varying
);


--
-- Name: pages_blocks_title; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pages_blocks_title (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    _path text NOT NULL,
    id character varying NOT NULL,
    title character varying NOT NULL,
    block_name character varying
);


--
-- Name: pages_gridcont; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pages_gridcont (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    title character varying NOT NULL,
    description character varying
);


--
-- Name: pages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pages_id_seq OWNED BY public.pages.id;


--
-- Name: pages_videos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pages_videos (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    poster_id integer NOT NULL,
    video_file_id integer NOT NULL
);


--
-- Name: payload_locked_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payload_locked_documents (
    id integer NOT NULL,
    global_slug character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payload_locked_documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payload_locked_documents_id_seq OWNED BY public.payload_locked_documents.id;


--
-- Name: payload_locked_documents_rels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payload_locked_documents_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    users_id integer,
    media_id integer,
    pages_id integer,
    leads_id integer
);


--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payload_locked_documents_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payload_locked_documents_rels_id_seq OWNED BY public.payload_locked_documents_rels.id;


--
-- Name: payload_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payload_migrations (
    id integer NOT NULL,
    name character varying,
    batch numeric,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


--
-- Name: payload_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payload_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payload_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payload_migrations_id_seq OWNED BY public.payload_migrations.id;


--
-- Name: payload_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payload_preferences (
    id integer NOT NULL,
    key character varying,
    value jsonb,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


--
-- Name: payload_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payload_preferences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payload_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payload_preferences_id_seq OWNED BY public.payload_preferences.id;


--
-- Name: payload_preferences_rels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payload_preferences_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    users_id integer
);


--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payload_preferences_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payload_preferences_rels_id_seq OWNED BY public.payload_preferences_rels.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    email character varying NOT NULL,
    reset_password_token character varying,
    reset_password_expiration timestamp(3) with time zone,
    salt character varying,
    hash character varying,
    login_attempts numeric DEFAULT 0,
    lock_until timestamp(3) with time zone
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_sessions (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    created_at timestamp(3) with time zone,
    expires_at timestamp(3) with time zone NOT NULL
);


--
-- Name: home id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.home ALTER COLUMN id SET DEFAULT nextval('public.home_id_seq'::regclass);


--
-- Name: leads id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.leads ALTER COLUMN id SET DEFAULT nextval('public.leads_id_seq'::regclass);


--
-- Name: media id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media ALTER COLUMN id SET DEFAULT nextval('public.media_id_seq'::regclass);


--
-- Name: pages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages ALTER COLUMN id SET DEFAULT nextval('public.pages_id_seq'::regclass);


--
-- Name: payload_locked_documents id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents ALTER COLUMN id SET DEFAULT nextval('public.payload_locked_documents_id_seq'::regclass);


--
-- Name: payload_locked_documents_rels id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels ALTER COLUMN id SET DEFAULT nextval('public.payload_locked_documents_rels_id_seq'::regclass);


--
-- Name: payload_migrations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_migrations ALTER COLUMN id SET DEFAULT nextval('public.payload_migrations_id_seq'::regclass);


--
-- Name: payload_preferences id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences ALTER COLUMN id SET DEFAULT nextval('public.payload_preferences_id_seq'::regclass);


--
-- Name: payload_preferences_rels id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences_rels ALTER COLUMN id SET DEFAULT nextval('public.payload_preferences_rels_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: home; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: media; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pages; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pages_blocks_disclaimer; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pages_blocks_disclaimer (_order, _parent_id, _path, id, text, block_name) FROM stdin;
12	2	content	690197b00f69f48ea213d5ce	Program availability and requirements depend on your profile, property type, and lender policies. Switching between programs may require additional approvals or updated documentation. Our team manages this process end-to-end to keep you secure and informed.	\N
\.


--
-- Data for Name: pages_blocks_image_gallery; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pages_blocks_image_gallery (_order, _parent_id, _path, id, block_name) FROM stdin;
1	4	content	69bcefadae75d02900837d38	\N
\.


--
-- Data for Name: pages_blocks_image_gallery_items; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pages_blocks_image_gallery_items (_order, _parent_id, id, image_id) FROM stdin;
1	69bcefadae75d02900837d38	69bcefb2ae75d02900837d3a	12
2	69bcefadae75d02900837d38	69bcefb4ae75d02900837d3c	13
3	69bcefadae75d02900837d38	69bcefbfae75d02900837d3e	14
\.


--
-- Data for Name: pages_blocks_paragraph; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pages_blocks_read_more; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pages_blocks_read_more (_order, _parent_id, _path, id, label, block_name) FROM stdin;
1	2	content	690146048fbbf6d06638876f	Read more	\N
2	1	content	6901457f8fbbf6d066388767	Read more	\N
2	5	content	69bce650e889b03a7724eb92	Read more	\N
\.


--
-- Data for Name: pages_blocks_title; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pages_blocks_title (_order, _parent_id, _path, id, title, block_name) FROM stdin;
2	2	content	6901460e8fbbf6d066388770	Flexibility Throughout Your Project	\N
4	2	content	6901461d8fbbf6d066388772	Why Work With Us	\N
8	2	content	690146358fbbf6d066388776	What You Should Always Check	\N
10	2	content	690146418fbbf6d066388778	Our Process	\N
\.


--
-- Data for Name: pages_gridcont; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pages_videos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pages_videos (_order, _parent_id, id, poster_id, video_file_id) FROM stdin;
\.


--
-- Data for Name: payload_locked_documents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payload_locked_documents (id, global_slug, updated_at, created_at) FROM stdin;
\.


--
-- Data for Name: payload_locked_documents_rels; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payload_locked_documents_rels (id, "order", parent_id, path, users_id, media_id, pages_id, leads_id) FROM stdin;
\.


--
-- Data for Name: payload_migrations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payload_migrations (id, name, batch, updated_at, created_at) FROM stdin;
1	dev	-1	2026-03-20 06:55:11.321+00	2025-10-28 21:26:55.885+00
\.


--
-- Data for Name: payload_preferences; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payload_preferences_rels; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payload_preferences_rels (id, "order", parent_id, path, users_id) FROM stdin;
1	\N	1	user	1
2	\N	2	user	1
11	\N	4	user	1
12	\N	6	user	1
16	\N	3	user	1
17	\N	5	user	1
19	\N	8	user	1
22	\N	9	user	1
23	\N	7	user	1
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users_sessions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users_sessions (_order, _parent_id, id, created_at, expires_at) FROM stdin;
1	1	00c32b65-c26c-4504-94bb-9a260ae33f8c	2026-03-20 05:54:14.433+00	2026-03-20 07:54:14.433+00
\.


--
-- Name: home_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.home_id_seq', 1, true);


--
-- Name: leads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.leads_id_seq', 94, true);


--
-- Name: media_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.media_id_seq', 14, true);


--
-- Name: pages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pages_id_seq', 8, true);


--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payload_locked_documents_id_seq', 35, true);


--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payload_locked_documents_rels_id_seq', 62, true);


--
-- Name: payload_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payload_migrations_id_seq', 1, true);


--
-- Name: payload_preferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payload_preferences_id_seq', 9, true);


--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payload_preferences_rels_id_seq', 23, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: home home_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.home
    ADD CONSTRAINT home_pkey PRIMARY KEY (id);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: media media_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_pkey PRIMARY KEY (id);


--
-- Name: pages_blocks_disclaimer pages_blocks_disclaimer_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_disclaimer
    ADD CONSTRAINT pages_blocks_disclaimer_pkey PRIMARY KEY (id);


--
-- Name: pages_blocks_image_gallery_items pages_blocks_image_gallery_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_image_gallery_items
    ADD CONSTRAINT pages_blocks_image_gallery_items_pkey PRIMARY KEY (id);


--
-- Name: pages_blocks_image_gallery pages_blocks_image_gallery_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_image_gallery
    ADD CONSTRAINT pages_blocks_image_gallery_pkey PRIMARY KEY (id);


--
-- Name: pages_blocks_paragraph pages_blocks_paragraph_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_paragraph
    ADD CONSTRAINT pages_blocks_paragraph_pkey PRIMARY KEY (id);


--
-- Name: pages_blocks_read_more pages_blocks_read_more_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_read_more
    ADD CONSTRAINT pages_blocks_read_more_pkey PRIMARY KEY (id);


--
-- Name: pages_blocks_title pages_blocks_title_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_title
    ADD CONSTRAINT pages_blocks_title_pkey PRIMARY KEY (id);


--
-- Name: pages_gridcont pages_gridcont_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_gridcont
    ADD CONSTRAINT pages_gridcont_pkey PRIMARY KEY (id);


--
-- Name: pages pages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_pkey PRIMARY KEY (id);


--
-- Name: pages_videos pages_videos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_videos
    ADD CONSTRAINT pages_videos_pkey PRIMARY KEY (id);


--
-- Name: payload_locked_documents payload_locked_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents
    ADD CONSTRAINT payload_locked_documents_pkey PRIMARY KEY (id);


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_pkey PRIMARY KEY (id);


--
-- Name: payload_migrations payload_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_migrations
    ADD CONSTRAINT payload_migrations_pkey PRIMARY KEY (id);


--
-- Name: payload_preferences payload_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences
    ADD CONSTRAINT payload_preferences_pkey PRIMARY KEY (id);


--
-- Name: payload_preferences_rels payload_preferences_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_sessions users_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_sessions
    ADD CONSTRAINT users_sessions_pkey PRIMARY KEY (id);


--
-- Name: home_grid_section_item1_grid_section_item1_image_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX home_grid_section_item1_grid_section_item1_image_idx ON public.home USING btree (grid_section_item1_image_id);


--
-- Name: home_grid_section_item2_grid_section_item2_image_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX home_grid_section_item2_grid_section_item2_image_idx ON public.home USING btree (grid_section_item2_image_id);


--
-- Name: home_grid_section_item3_grid_section_item3_image_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX home_grid_section_item3_grid_section_item3_image_idx ON public.home USING btree (grid_section_item3_image_id);


--
-- Name: home_grid_section_item4_grid_section_item4_image_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX home_grid_section_item4_grid_section_item4_image_idx ON public.home USING btree (grid_section_item4_image_id);


--
-- Name: home_grid_section_item5_grid_section_item5_image_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX home_grid_section_item5_grid_section_item5_image_idx ON public.home USING btree (grid_section_item5_image_id);


--
-- Name: home_grid_section_item6_grid_section_item6_image_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX home_grid_section_item6_grid_section_item6_image_idx ON public.home USING btree (grid_section_item6_image_id);


--
-- Name: home_grid_section_item7_grid_section_item7_image_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX home_grid_section_item7_grid_section_item7_image_idx ON public.home USING btree (grid_section_item7_image_id);


--
-- Name: home_grid_section_item8_grid_section_item8_image_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX home_grid_section_item8_grid_section_item8_image_idx ON public.home USING btree (grid_section_item8_image_id);


--
-- Name: leads_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX leads_created_at_idx ON public.leads USING btree (created_at);


--
-- Name: leads_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX leads_updated_at_idx ON public.leads USING btree (updated_at);


--
-- Name: media_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_created_at_idx ON public.media USING btree (created_at);


--
-- Name: media_filename_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX media_filename_idx ON public.media USING btree (filename);


--
-- Name: media_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_updated_at_idx ON public.media USING btree (updated_at);


--
-- Name: media_video_poster_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_video_poster_idx ON public.media USING btree (video_poster_id);


--
-- Name: pages_blocks_disclaimer_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_disclaimer_order_idx ON public.pages_blocks_disclaimer USING btree (_order);


--
-- Name: pages_blocks_disclaimer_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_disclaimer_parent_id_idx ON public.pages_blocks_disclaimer USING btree (_parent_id);


--
-- Name: pages_blocks_disclaimer_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_disclaimer_path_idx ON public.pages_blocks_disclaimer USING btree (_path);


--
-- Name: pages_blocks_image_gallery_items_image_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_image_gallery_items_image_idx ON public.pages_blocks_image_gallery_items USING btree (image_id);


--
-- Name: pages_blocks_image_gallery_items_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_image_gallery_items_order_idx ON public.pages_blocks_image_gallery_items USING btree (_order);


--
-- Name: pages_blocks_image_gallery_items_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_image_gallery_items_parent_id_idx ON public.pages_blocks_image_gallery_items USING btree (_parent_id);


--
-- Name: pages_blocks_image_gallery_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_image_gallery_order_idx ON public.pages_blocks_image_gallery USING btree (_order);


--
-- Name: pages_blocks_image_gallery_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_image_gallery_parent_id_idx ON public.pages_blocks_image_gallery USING btree (_parent_id);


--
-- Name: pages_blocks_image_gallery_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_image_gallery_path_idx ON public.pages_blocks_image_gallery USING btree (_path);


--
-- Name: pages_blocks_paragraph_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_paragraph_order_idx ON public.pages_blocks_paragraph USING btree (_order);


--
-- Name: pages_blocks_paragraph_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_paragraph_parent_id_idx ON public.pages_blocks_paragraph USING btree (_parent_id);


--
-- Name: pages_blocks_paragraph_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_paragraph_path_idx ON public.pages_blocks_paragraph USING btree (_path);


--
-- Name: pages_blocks_read_more_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_read_more_order_idx ON public.pages_blocks_read_more USING btree (_order);


--
-- Name: pages_blocks_read_more_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_read_more_parent_id_idx ON public.pages_blocks_read_more USING btree (_parent_id);


--
-- Name: pages_blocks_read_more_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_read_more_path_idx ON public.pages_blocks_read_more USING btree (_path);


--
-- Name: pages_blocks_title_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_title_order_idx ON public.pages_blocks_title USING btree (_order);


--
-- Name: pages_blocks_title_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_title_parent_id_idx ON public.pages_blocks_title USING btree (_parent_id);


--
-- Name: pages_blocks_title_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_blocks_title_path_idx ON public.pages_blocks_title USING btree (_path);


--
-- Name: pages_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_created_at_idx ON public.pages USING btree (created_at);


--
-- Name: pages_file_download_file_download_file_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_file_download_file_download_file_idx ON public.pages USING btree (file_download_file_id);


--
-- Name: pages_gridcont_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_gridcont_order_idx ON public.pages_gridcont USING btree (_order);


--
-- Name: pages_gridcont_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_gridcont_parent_id_idx ON public.pages_gridcont USING btree (_parent_id);


--
-- Name: pages_hero_image_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_hero_image_idx ON public.pages USING btree (hero_image_id);


--
-- Name: pages_slug_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX pages_slug_idx ON public.pages USING btree (slug);


--
-- Name: pages_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_updated_at_idx ON public.pages USING btree (updated_at);


--
-- Name: pages_videos_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_videos_order_idx ON public.pages_videos USING btree (_order);


--
-- Name: pages_videos_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_videos_parent_id_idx ON public.pages_videos USING btree (_parent_id);


--
-- Name: pages_videos_poster_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_videos_poster_idx ON public.pages_videos USING btree (poster_id);


--
-- Name: pages_videos_video_file_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pages_videos_video_file_idx ON public.pages_videos USING btree (video_file_id);


--
-- Name: payload_locked_documents_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_created_at_idx ON public.payload_locked_documents USING btree (created_at);


--
-- Name: payload_locked_documents_global_slug_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_global_slug_idx ON public.payload_locked_documents USING btree (global_slug);


--
-- Name: payload_locked_documents_rels_leads_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_leads_id_idx ON public.payload_locked_documents_rels USING btree (leads_id);


--
-- Name: payload_locked_documents_rels_media_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_media_id_idx ON public.payload_locked_documents_rels USING btree (media_id);


--
-- Name: payload_locked_documents_rels_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_order_idx ON public.payload_locked_documents_rels USING btree ("order");


--
-- Name: payload_locked_documents_rels_pages_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_pages_id_idx ON public.payload_locked_documents_rels USING btree (pages_id);


--
-- Name: payload_locked_documents_rels_parent_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_parent_idx ON public.payload_locked_documents_rels USING btree (parent_id);


--
-- Name: payload_locked_documents_rels_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_path_idx ON public.payload_locked_documents_rels USING btree (path);


--
-- Name: payload_locked_documents_rels_users_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_users_id_idx ON public.payload_locked_documents_rels USING btree (users_id);


--
-- Name: payload_locked_documents_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_updated_at_idx ON public.payload_locked_documents USING btree (updated_at);


--
-- Name: payload_migrations_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_migrations_created_at_idx ON public.payload_migrations USING btree (created_at);


--
-- Name: payload_migrations_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_migrations_updated_at_idx ON public.payload_migrations USING btree (updated_at);


--
-- Name: payload_preferences_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_created_at_idx ON public.payload_preferences USING btree (created_at);


--
-- Name: payload_preferences_key_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_key_idx ON public.payload_preferences USING btree (key);


--
-- Name: payload_preferences_rels_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_rels_order_idx ON public.payload_preferences_rels USING btree ("order");


--
-- Name: payload_preferences_rels_parent_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_rels_parent_idx ON public.payload_preferences_rels USING btree (parent_id);


--
-- Name: payload_preferences_rels_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_rels_path_idx ON public.payload_preferences_rels USING btree (path);


--
-- Name: payload_preferences_rels_users_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_rels_users_id_idx ON public.payload_preferences_rels USING btree (users_id);


--
-- Name: payload_preferences_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_updated_at_idx ON public.payload_preferences USING btree (updated_at);


--
-- Name: users_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_created_at_idx ON public.users USING btree (created_at);


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_sessions_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_sessions_order_idx ON public.users_sessions USING btree (_order);


--
-- Name: users_sessions_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_sessions_parent_id_idx ON public.users_sessions USING btree (_parent_id);


--
-- Name: users_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_updated_at_idx ON public.users USING btree (updated_at);


--
-- Name: home home_grid_section_item1_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.home
    ADD CONSTRAINT home_grid_section_item1_image_id_media_id_fk FOREIGN KEY (grid_section_item1_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: home home_grid_section_item2_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.home
    ADD CONSTRAINT home_grid_section_item2_image_id_media_id_fk FOREIGN KEY (grid_section_item2_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: home home_grid_section_item3_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.home
    ADD CONSTRAINT home_grid_section_item3_image_id_media_id_fk FOREIGN KEY (grid_section_item3_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: home home_grid_section_item4_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.home
    ADD CONSTRAINT home_grid_section_item4_image_id_media_id_fk FOREIGN KEY (grid_section_item4_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: home home_grid_section_item5_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.home
    ADD CONSTRAINT home_grid_section_item5_image_id_media_id_fk FOREIGN KEY (grid_section_item5_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: home home_grid_section_item6_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.home
    ADD CONSTRAINT home_grid_section_item6_image_id_media_id_fk FOREIGN KEY (grid_section_item6_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: home home_grid_section_item7_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.home
    ADD CONSTRAINT home_grid_section_item7_image_id_media_id_fk FOREIGN KEY (grid_section_item7_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: home home_grid_section_item8_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.home
    ADD CONSTRAINT home_grid_section_item8_image_id_media_id_fk FOREIGN KEY (grid_section_item8_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: media media_video_poster_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_video_poster_id_media_id_fk FOREIGN KEY (video_poster_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: pages_blocks_disclaimer pages_blocks_disclaimer_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_disclaimer
    ADD CONSTRAINT pages_blocks_disclaimer_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: pages_blocks_image_gallery_items pages_blocks_image_gallery_items_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_image_gallery_items
    ADD CONSTRAINT pages_blocks_image_gallery_items_image_id_media_id_fk FOREIGN KEY (image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: pages_blocks_image_gallery_items pages_blocks_image_gallery_items_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_image_gallery_items
    ADD CONSTRAINT pages_blocks_image_gallery_items_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.pages_blocks_image_gallery(id) ON DELETE CASCADE;


--
-- Name: pages_blocks_image_gallery pages_blocks_image_gallery_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_image_gallery
    ADD CONSTRAINT pages_blocks_image_gallery_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: pages_blocks_paragraph pages_blocks_paragraph_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_paragraph
    ADD CONSTRAINT pages_blocks_paragraph_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: pages_blocks_read_more pages_blocks_read_more_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_read_more
    ADD CONSTRAINT pages_blocks_read_more_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: pages_blocks_title pages_blocks_title_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_blocks_title
    ADD CONSTRAINT pages_blocks_title_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: pages pages_file_download_file_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_file_download_file_id_media_id_fk FOREIGN KEY (file_download_file_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: pages_gridcont pages_gridcont_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_gridcont
    ADD CONSTRAINT pages_gridcont_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: pages pages_hero_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_hero_image_id_media_id_fk FOREIGN KEY (hero_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: pages_videos pages_videos_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_videos
    ADD CONSTRAINT pages_videos_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: pages_videos pages_videos_poster_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_videos
    ADD CONSTRAINT pages_videos_poster_id_media_id_fk FOREIGN KEY (poster_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: pages_videos pages_videos_video_file_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pages_videos
    ADD CONSTRAINT pages_videos_video_file_id_media_id_fk FOREIGN KEY (video_file_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_leads_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_leads_fk FOREIGN KEY (leads_id) REFERENCES public.leads(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_media_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_media_fk FOREIGN KEY (media_id) REFERENCES public.media(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_pages_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_pages_fk FOREIGN KEY (pages_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.payload_locked_documents(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_users_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_users_fk FOREIGN KEY (users_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payload_preferences_rels payload_preferences_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.payload_preferences(id) ON DELETE CASCADE;


--
-- Name: payload_preferences_rels payload_preferences_rels_users_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_users_fk FOREIGN KEY (users_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users_sessions users_sessions_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_sessions
    ADD CONSTRAINT users_sessions_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 03q7oYx2GBwz27ccGhbmigX9Jkkd1b6FaVybr5FDJATzSMwbEcXciDUVhA3ok2s

